.contact-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    padding: 40px 0 80px 0;
}

#contact-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.contact-title {
    z-index: 1;
    font-family: var(--font-family-2);
    font-size: 2.5em;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 0;
}

.contact-description {
    z-index: 1;
    font-family: var(--font-family-3);
    font-size: 14px;
    color: var(--primary-color);
    margin-bottom: 10px;
    width: 40%;
    text-align: center;
    line-height: 2;
}

.contact-description .contact-link {
    color: var(--secondary-color-4);
}

#contact-form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.contact-image-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    /* margin-top: 60px; */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.contact-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
    /* filter: blur(5px); */
}

.contact-link {
    color: var(--link-color);
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
}

.contact-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    max-width: 600px;
    margin-top: 20px;
    background-color: var(--surface-color);
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#customer-service-image-container {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50%;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

#customer-service-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.input-icon {
    width: 24px;
    height: auto;
    margin-right: 12px;
}

.input-container, .textarea {
    position: relative;
    margin: 12px 0;
}

.textarea {
    width: 60%;
}

.input-placeholder {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(0, -50%) scale(1);
    background-color: var(--surface-color);
    color: var(--secondary-color-4);
    font-family: var(--font-family-3);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    padding: 0 4px;
    transition: transform 0.3s ease, top 0.3s ease
}

.textarea-placeholder {
    position: absolute;
    top: 0;
    left: 12px;
    transform: translate(0, 50%) scale(1);
    background-color: var(--surface-color);
    color: var(--secondary-color-4);
    font-family: var(--font-family-3);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    padding: 0 4px;
    transition: transform 0.3s ease, top 0.3s ease
}

.form-input:focus + .input-placeholder,
.form-textarea:focus + .textarea-placeholder {
    transform: translate(-10px, -50%) scale(0.8);
    top: 0;
}

.content-inside + .input-placeholder,
.content-inside + .textarea-placeholder {
    transform: translate(-10px, -50%) scale(0.8);
    top: 0;
}

.form-input,
.form-textarea {
    /* width: 100%; */
    padding: 12px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    resize: none;
    color: var(--secondary-color-4);
    font-family: var(--font-family-3);
    font-weight: 500;
}

.form-textarea {
    width: 100%;
    height: 120px;
}

.form-input:focus,
.form-textarea:focus {
    border-color: var(--primary-color);
    outline: none;
}

.radios-wrapper {
    padding-left: 12px;
}

.radio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 12px 0;
}

.radio-label {
    display: flex;
    align-items: center;
    margin-right: 16px;
    font-family: var(--font-family-3);
    color: var(--secondary-color-4);
    font-weight: 500;
    font-size: 16px;
}

.form-radio {
    margin-right: 8px;
}

.form-button {
    padding: 12px 16px;
    background-color: var(--primary-color);
    color: var(--secondary-color-4);
    border: 1px solid var(--secondary-color-4);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    font-family: var(--font-family-3);
    font-weight: 500;
    font-size: 16px;
}

.form-button:hover {
    background-color: var(--secondary-color-4);
    color: var(--primary-color);
    border-color: var(--primary-color);
}