@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

#introduction {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-2);
    padding: 40px 0 60px 0;
    width: 100%;
}

#welcome-image-container {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#welcome-image {
    width: 100%;
    height: auto;
    opacity: 0.2;
    object-fit: cover;
    transform: translateY(-30%);
}

#welcome-header {
    z-index: 2;
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--primary-color);
    font-family: var(--font-family-2);
    font-weight: 700;
    width: 80%;
}

#welcome-message {
    z-index: 2;
    font-size: 1.2em;
    font-family: var(--font-family-3);
    font-weight: 400;
    line-height: 1.5;
    margin: 10px 0;
    text-align: center;
    color: var(--secondary-color-4);
    width: 60%;
}

#services-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

#services-overview-title {
    font-size: 2em;
    font-family: var(--font-family-2);
    font-weight: 700;
    color: var(--primary-color);
    margin: 20px 0;
    letter-spacing: 1px;
    word-spacing: 2px;
}

#services-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
}

.service-card {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    padding: 0 20px;
    margin: 10px;
    text-align: center;
    width: 80%;
}

.service-card:nth-child(even) {
    flex-direction: row-reverse;
    align-self: flex-end;
    background: linear-gradient(to bottom left, var(--surface-color-3), var(--surface-color-4));
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
}

.service-card:nth-child(odd) {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom right, var(--surface-color-3), var(--surface-color-4));
}

.service-card-overlay {
    position: absolute;
    top: 0;
    left: -3px;
    right: 0;
    bottom: -3px;
    z-index: 3;
    overflow: hidden;
}

/* .service-card-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 60px;
    border-radius: 8px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 5%, rgba(0, 0, 255, 1) 20%, rgba(0, 0, 255, 0));
    animation: lighting-a 10s infinite linear;
}

.service-card-overlay::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 2px;
    border-radius: 8px;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 5%, rgba(0, 0, 255, 1) 20%, rgba(0, 0, 255, 0));
    animation: lighting-b 10s infinite linear;
} */

.service-card-info {
    width: 60%;
}

.service-title {
    font-size: 1.5em;
    font-family: var(--font-family-2);
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.service-description {
    font-size: 1.1em;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--secondary-color-4);
    line-height: 1.5;
}

.service-card-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 50%;
    background-color: var(--secondary-color-4);
    margin: 10px 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.service-card-icon {
    width: 100px;
    height: 100px;
    fill: var(--secondary-color-4);
}

#seo-icon-container {
    background-color: transparent;
}

#backend-icon-container {
    padding: 10px;
    background-color: #FFD65C;
}

#content-icon-container {
    border: 10px solid var(--secondary-color-3);
}

#seo-icon-container {
    padding: 0;
}

#responsive-icon-container {
    background-color: var(--text-color-4);
    border: 10px solid var(--text-color-2);
}

#marketing-icon-container {
    background-color: #FD9090;
    border: 10px solid #FC7373;
}

#custom-solutions-icon-container {
    padding: 10px;
    background-color: #EC8383;
}

#scalable-icon-container {
    border: 10px solid var(--secondary-color);
}

#custom-solutions-icon, #backend-icon {
    padding: 0;
    width: 160px;
    height: 160px;
}

#seo-icon {
    width: 220px;
    height: 220px;
    margin: -20px;
}

#pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-3);
    width: 100%;
    padding: 40px 0;
}

#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-4);
    width: 100%;
    padding: 40px 0;
}

#pricing-title {
    font-size: 2em;
    font-family: var(--font-family-2);
    font-weight: 700;
    color: var(--primary-color);
    margin: 20px 0;
}

#pricing-description {
    font-size: 1.2em;
    font-family: var(--font-family-3);
    font-weight: 400;
    line-height: 1.5;
    margin: 10px 0;
    text-align: center;
    color: var(--secondary-color-4);
    width: 80%;
}

#pricing-icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    width: 60%;
    margin: 10px 0;
}

.pricing-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

#brain-wrapper {
    border-radius: 50%;
    
}

.pricing-arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

.pricing-icon {
    width: 150px;
    height: 150px;
}

#brain-icon {
    fill: black;
}

.pricing-arrow {
    width: 50px;
    height: 50px;
    stroke: black;
}

#gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    /* background: linear-gradient(to bottom right, var(--surface-color-3), var(--surface-color-4)); */
}

#gallery-title {
    font-size: 2em;
    font-family: var(--font-family-2);
    font-weight: 700;
    color: var(--primary-color);
    margin: 20px 0;
}

#gallery-description {
    font-size: 1.2em;
    font-family: var(--font-family-2);
    font-weight: 400;
    color: var(--secondary-color-4);
    margin-bottom: 10px;
    margin: 10px 0;
    text-align: center;
    width: 80%;
}

#gallery-subtitle {
    font-size: .8em;
    font-family: var(--font-family-3);
    font-weight: 400;
    color: var(--secondary-color-4);
    margin-bottom: 0;
    text-align: center;
    width: 80%;
}

#gallery-link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--secondary-color-4);
    text-decoration: none;
    gap: 10px;
    margin-top: 20px;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
    transition: filter 0.3s ease;
}

#gallery-link:hover {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
}

#gallery-monitor-overlay {
    position: absolute;
    top: 3.6%;
    left: 3.2%;
    width: 93.6%;
    height: 68.3%;
    background-color: var(--primary-color-3);
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    overflow:hidden;
    transition: transform 0.3s ease;
}

#gallery-link:hover #gallery-monitor-overlay {
    transform: scale(1.05);
}

#gallery-monitor {
    width: 300px;
    height: auto;
    transition: transform 0.3s ease;
}

#gallery-link:hover #gallery-monitor {
    transform: scale(1.05);
}

.gallery-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    animation: slide 5s infinite linear;
}

.gallery-icon {
    width: 60%;
    height:auto;
    background-color: white;
    border-radius: 7px;
    flex-shrink: 0;
    transition: transform 0.3s ease;
}

#gallery-link:hover #gallery-icon {
    transform: scale(1.05);
}

#gallery-social {
    font-size: 1.2em;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--secondary-color-4);
    margin: 10px 0;
    text-align: center;
    width: 100%;
}

#social-media-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.home-social-link {
    position: relative;
    height: 60px;
    width: 60px;
    margin: 0 10px;
    border-radius: 6px;
    /* background: radial-gradient(circle at bottom right, white, transparent 25%); */
}

#home-instagram-link {
    border-radius: 12px;
}

.home-social-container {
    position: relative;
    border-radius: 6px;
    border: 1px solid white;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.home-social-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 6px;
    transition: opacity 0.3s ease;
    z-index: 0;
}

#home-facebook-background {
    background: radial-gradient(circle at bottom right, white, #1877f2 50%);
}

#home-instagram-background {
    background: radial-gradient(circle at bottom right, white, #d62976 50%);
}

#home-twitter-background {
    background: radial-gradient(circle at bottom right, white, black 50%);
}

#home-linkedin-background {
    background: radial-gradient(circle at bottom right, white, #0077B5 50%);
}

.home-social-link:hover .home-social-background {
    opacity: 1;
}

.home-social-icon {
    position: relative;
    width: 40px;
    height: auto;
    transition: fill 0.3s ease;
    z-index: 1;
}

#home-linkedin-path {
    transition: fill 0.3s ease;
}

#home-facebook {
    fill: #1877F2;
}

#home-instagram {
    fill: #d62976;
}

#home-twitter {
    fill: gray;
}

#home-linkedin {
    fill: #0077B5;
}

#home-facebook-link:hover .home-social-container .home-social-icon,
#home-instagram-link:hover .home-social-container .home-social-icon,
#home-twitter-link:hover .home-social-container .home-social-icon,
#home-linkedin-link:hover .home-social-container .home-social-icon path {
    fill: white;
}